<template>

    <v-footer padless>
    <v-card tile center width="100%">
        <v-card-text>
        </v-card-text>
        <v-card-text class="pt-14">

            <v-row>
                <v-col md="2">
                    <ul>
                        <li style="text-align:center;"><img alt="Vue logo" src="../assets/images/logo2.png" width="132"></li>
                        <li></li>
                        <li style="text-align:center;"><img alt="bi" src="../assets/images/bi.png" width="76"></li>
                    </ul>
                </v-col>
                <v-col md="2">
                    <ul>
                        <li class="ftitle">ABOUT</li>
                        <li>
                            <ul style="padding: 0;">
                                <li><a href="/#about">ABOUT NUONCHIC</a></li>
                                <li><a href="/#nnz">NUONCHIC SIZE</a></li>
                                <li><a href="/#fitting">FITTING ROOM</a></li>
                                <li><a href="/#universal">UNIVERSAL SIZING</a></li>
                                <li><a href="/terms">TERMS & CONDITIONS</a></li>
                                <li><a href="/policy">PRIVACY POLICY</a></li>
                            </ul>
                        </li>
                    </ul>
                </v-col>
                <v-col md="2">
                    <ul>
                        <li class="ftitle">CONNECT</li>
                        <li>
                            <ul style="padding: 0;">
                                <li><a href="https://www.instagram.com/nuonchic/" target="_blank">INSTAGRAM</a></li>
                                <li><a href="https://www.facebook.com/nuonchic/" target="_blank">FACEBOOK</a></li>
                                <li><a href="https://kr.linkedin.com/company/nuonchic" target="_blank">LINKEDIN</a></li>
                                <li><a href="https://in.pinterest.com/nuonchic/?eq=nuonchic&etslf=4964" target="_blank">PINTEREST</a></li>
                            </ul>
                        </li>
                    </ul>
                </v-col>
                <v-col md="2">
                    <ul>
                        <li class="ftitle">DOWNLOAD</li>
                        <li>
                            <ul style="padding: 0;">
                                <li><a href="#">APP STORE</a></li>
                                <li><a href="#">GOOGLE PLAY</a></li>
                            </ul>
                        </li>
                    </ul>
                </v-col>
                <v-col md="4">
                    <ul>
                        <li class="ftitle">CONNECT US</li>
                        <li>
                            <ul style="padding: 0;">
                                <li><a href="#">customercare@nuonchic.com</a></li>
                                <p>C + 82.2.3448.8999 S.KOREA</p>
                                <p>NANA Building, 3rd Floor.24, Seolleung-ro 153-gil, Gangnam-gu, Seoul, S.Korea</p>
                            </ul>
                        </li>
                    </ul>
                </v-col>
            </v-row>


        </v-card-text>        
        <v-divider></v-divider>        
        <v-card-text>
            &copy; {{ new Date().getFullYear() }} 
            2020 NUONCHIC INC. ALL RIGHTS RESERVED <br/>
            V3.0.1(246)
        </v-card-text>
    </v-card>
    </v-footer>

</template>

<script>
export default {
  name: 'Footer',
  components: {
  }
}
</script>

<style scoped>
ul { list-style: none; margin: 0; padding: 0;}
ul li { margin:0; padding: 5px 0; text-align: left;}
ul li a { text-decoration: none; color:black; }
.ftitle { font-weight: bold;}
</style>