<template>
    <div>
      <v-app-bar app class="d-flex d-md-none"
        color="#230137"
        dark
        >
        <v-app-bar-nav-icon @click="drawer = true"></v-app-bar-nav-icon>
        <v-toolbar-title>
            <!-- NUONCHIC -->
            <!-- <img alt="Vue logo" src="../assets/images/logo.png" width="60%"> -->
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-spacer></v-spacer>
      <v-btn icon>
      </v-btn>
      <v-btn icon>
      </v-btn>
      <v-btn icon>
      </v-btn>
        <div class="header_snsicon">
            <ul>
                <li><a href="https://www.instagram.com/nuonchic/" target="_blank">
                    <img src="../assets/images/instargram.png" alt="instargram"/>
                    </a></li>
                <li><a href="https://www.facebook.com/nuonchic/" target="_blank">
                        <img src="../assets/images/facebook.png" alt="facebook"/>
                    </a></li>
                <li><a href="https://kr.linkedin.com/company/nuonchic" target="_blank">
                    <img src="../assets/images/linkedin.png" alt="linkedin"/>
                    </a></li>
                <li><a href="https://in.pinterest.com/nuonchic/?eq=nuonchic&etslf=4964" target="_blank">
                    <img src="../assets/images/pinterest.png" alt="pinterest"/>
                    </a></li>
            </ul>
        </div>
      </v-app-bar>

        <v-navigation-drawer app
            v-model="drawer"
            temporary
        >
        <v-img src="https://picsum.photos/1920/1080?random" alt=""/>
        <v-list
            nav
            dense
        >
            <v-list-item-group
                v-model="group"
                active-class="deep-purple--text text--accent-4"
            >
            <v-list-item>
                <v-list-item-icon>
                <v-icon>mdi-home</v-icon>
                </v-list-item-icon>
                <v-list-item-title class="text-left">
                    <a href="/#about" class="text-decoration-none">ABOUT NUONCHIC</a>
                </v-list-item-title>
            </v-list-item>

            <v-list-item>
                <v-list-item-icon>
                <v-icon>mdi-account</v-icon>
                </v-list-item-icon>
                <v-list-item-title class="text-left">
                    <a href="/#nnz" class="text-decoration-none">NUONCHIC SIZE</a>
                </v-list-item-title>
            </v-list-item>

            <v-list-item>
                <v-list-item-icon>
                <v-icon>mdi-account</v-icon>
                </v-list-item-icon>
                <v-list-item-title class="text-left">
                   <a href="/#fitting" class="text-decoration-none">FITTING ROOM</a>
                </v-list-item-title>
            </v-list-item>

            <v-list-item>
                <v-list-item-icon>
                <v-icon>mdi-account</v-icon>
                </v-list-item-icon>
                <v-list-item-title class="text-left">
                   <a href="/#universal" class="text-decoration-none">UNIVERSAL SIZING</a>
                </v-list-item-title>
            </v-list-item>

            </v-list-item-group>
        </v-list>
        </v-navigation-drawer>

        <div id="logo">
          <img alt="Vue logo" src="../assets/images/logo.png">
        </div>
        <v-container class="d-none d-md-flex d-lg-flex">
            <v-layout row wrap>
                <v-flex md8 class="white-text text-center">
                    <div class="menu">
                        <ul>
                            <li><a href="/#about">ABOUT NUONCHIC</a></li>
                            <li><a href="/#nnz">NUONCHIC SIZE</a></li>
                            <li><a href="/#fitting">FITTING ROOM</a></li>
                            <li><a href="/#universal">UNIVERSAL SIZING</a></li>
                        </ul>
                    </div>
                </v-flex>
                <v-flex md4 class="white--text text-center">
                    <div class="snsicon">
                        <ul>
                            <li><a href="https://www.instagram.com/nuonchic/" target="_blank">
                                <img src="../assets/images/instargram.png" alt="instargram"/>
                                </a></li>
                            <li><a href="https://www.facebook.com/nuonchic/" target="_blank">
                                    <img src="../assets/images/facebook.png" alt="facebook"/>
                                </a></li>
                            <li><a href="https://kr.linkedin.com/company/nuonchic" target="_blank">
                                <!-- LINKEDIN -->
                                <img src="../assets/images/linkedin.png" alt="linkedin"/>
                                </a></li>
                            <li><a href="https://in.pinterest.com/nuonchic/?eq=nuonchic&etslf=4964" target="_blank">
                                <img src="../assets/images/pinterest.png" alt="pinterest"/>
                                </a></li>
                        </ul>
                    </div>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>
<script>
export default {
  name: 'Header',
  data: () => ({
      drawer: false,
      group: null,
  }),
}
</script>
<style scoped>

#logo {
  margin-top: 60px;
  margin-bottom: 33px;
  height: 46px;
}
#nav {
  height: 116px;
}
#nav ul {
  list-style: none;
}
.menu { margin: 0; }
.menu ul { list-style: none; margin:0; padding: 0;}
.menu ul li { display:inline-block; padding: 24px 20px; }
.menu ul li a { text-decoration: none; color: white;}

.menu a {color: aliceblue!important;}

.snsicon { /* float:right; */ margin: 0; }
.snsicon ul { list-style: none; }
.snsicon ul li { display: inline-block; padding: 20px 10px; }

.header_snsicon { /* float:right; */ margin: 0;}
.header_snsicon ul { list-style: none; }
.header_snsicon ul li { display: inline-block; padding: 5px 5px; }

@media (min-width: 600px) and (max-width: 1024px) {
    .menu ul li { float: left; padding: 24px 10px; }
    header { display: none;}
}
</style>