<template>
  <div>
    <v-row class="d-xs-none d-md-flex">
      <v-col>
        <img src="../assets/images/movie.png" alt="" class="movie"/>
      </v-col>
    </v-row>

    <div>
        <h1 class="atitle" id="about">ABOUT NUONCHIC</h1>
        <v-container>
            <v-layout row wrap>
                <v-flex xs12 sm6>
                    <p class="subtitle">
                    <br/>
        “Nuonchic Size” is the revolutionary 
        world first bra size code notation. The 
        three dimensional notation will be the 
        new de-facto standard of the bra sizes 
        that resolve the bra size issues of many 
        women.            
                    </p>
                </v-flex>
                <v-flex xs12 sm6>
                    <img src="../assets/images/img1.png" alt="" class="subtitle_img subtitle_margin"/>
                </v-flex>
            </v-layout>
        </v-container>
    </div>

    <div class="ggray_bgimg">
        <h1 class="atitle" id="nnz">NUONCHIC SIZE</h1>
        <v-container>
            <v-row>
                <v-col>
                    <img src="../assets/images/img2.png" alt="" class="subtitle_img"/>
                    <p class="subtitle">
                        <br/><br/>
            “Nuonchic Size” is the revolutionary world first bra size code notation. 
            The three dimensional notation will be the  new de-facto standard of the bra sizes  that resolve
            the bra size issues of many  women.
                    </p>
                </v-col>
            </v-row>
        </v-container>
    </div>

    <div class="ggray">
        <h1 class="atitle" id="fitting">FITTING ROOM</h1>
        <v-container>
            <v-layout row wrap>
                <v-flex xs12 sm6>
                    <p class="subtitle">
                        <br/>
            “Nuonchic Size” is the revolutionary 
            world first bra size code notation. The 
            three dimensional notation will be the 
            new de-facto standard of the bra sizes 
            that resolve the bra size issues of many 
            women.
                    </p>
                </v-flex>
                <v-flex xs12 sm6>
                    <img src="../assets/images/img3.png" alt="" class="subtitle_img subtitle_margin"/>
                </v-flex>
            </v-layout>
        </v-container>
    </div>

    <div>
        <h1 class="atitle" id="universal">UNIVERSAL SIZING</h1>
        <v-container>
            <v-layout row wrap>
                <v-flex xs12 sm6>
                    <img src="../assets/images/img4.png" alt="" class="subtitle_img subtitle_margin"/>
                </v-flex>
                <v-flex xs12 sm6>
                    <p class="subtitle">
                        <br/>
            “Nuonchic Universal Sizing" is a way to 
            integrate bra product sizing method 
            and system that will lead to more 
            personalized and accurate bra 
            recommendations and will integrate 
            the offline and online shopping 
            experience. 
                    </p>
                </v-flex>
            </v-layout>
        </v-container>
    </div>

    <div class="ggray">
        <h1 class="atitle">BE IN THE KNOW</h1>
        <v-container>
            <v-row>
                <v-col>
                    <div class="justify-center align-center text-center d-none d-md-flex d-lg-flex">
                    <ul class="be_in_the_know">
                        <li>
                            <input type="text" name="email" value="" class="input_with600" placeholder=" Sign up for email alerts"/>
                            <button>SIGN UP</button>
                        </li>
                    </ul>
                    </div>
                    
                    <div class="justify-center align-center text-center d-flex d-md-none">
                    <ul class="be_in_the_know">
                        <li>
                            <input type="text" name="email" value=""  class="input_with300" placeholder=" Sign up for email alerts"/>
                            <button>SIGN UP</button>
                        </li>
                    </ul>
                    </div>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <p class="txt_guide">
                        Sign up for new arrivals, and more!
                    </p>
                    <p class="txt_guide">&nbsp;</p>
                    <p class="txt_guide">&nbsp;</p>
                </v-col>
            </v-row>
        </v-container>
    </div>
    
  </div>
</template>

<script>
export default {
  name: 'Home',
  props: {
    msg: String
  }
}
</script>

<style>
img.movie {
  width: 100%;
}

.ggray {
  background-color: #F4F4F4;
}

.ggray_bgimg {
  background-image: url(../assets/images/gray_bg.png);
  background-repeat: repeat-x;
}

.ggray input[type="text"] {
    padding: 15px;
    font-size: 20px;
    border: solid 2px #230137;
    font-size: 20px;
}
.ggray button { padding: 17px; font-size: 20px; background-color: #230137;}
.subtitle_img {
  width: 100%;
}
.subtitle_margin {
  padding-bottom: 109px;
}

ul.be_in_the_know { list-style: none; display:inline-block; margin:0; padding:0; }
ul.be_in_the_know li {display:inline-block; margin:0; padding: 0;}
.input_with600 {
    width:600px;
    max-width: 600px;
}

.input_width300 {
    width:200px;
    max-width: 200px;
}

</style>
