<template>
  <div>
    <v-row>
      <v-col>
          <h1 class="atitle">Not Found Page</h1>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: 'NotFound',
}
</script>

<style>
</style>
