<template>
    <v-container>
        <h1 class="atitle">Privacy & Usage Policy</h1>
        <div class="policy text-center">
            <p class="subtitle">
                This document was last updated on September 21, 2020
            </p>
            <p class="subtitle text-left">
Acknowledgement and Acceptance of Terms: The Natori Company is committed to protecting your  privacy.<br/>
This Privacy and Usage Statement sets forth our current privacy and usage practices with regard to the information we 
collect about you when you or your computer interact with our website or visit our store. The information is used to 
enhance your shopping experience and is used to communicate with you about our products, services and promotions.<br/>
By accessing and using www.natori.com, you acknowledge, agree and fully understand The Natori Company’s Privacy & <br/>
Usage Statement, detailed below, and freely consent to the information collection and use practices described in this<br/>
 statement. Further, you agree that such policy is subject to all applicable laws and  your use of such is undertaken at<br/>
your own risk.<br/>
<br/>
Information We Collect and How We Use It: The Natori Company collects certain personal <br/>
information from and about its users to enhance a customer’s shopping experience and to provide <br/>
better services. We collect this information in at least three ways, including: directly from our Web <br/>
Server logs, from Cookies, and from Users.<br/>
My Account – On natori.com you have the opportunity to create a personal shopping account. This
account allows you to check out quicker and easier. When you create this account you are authorizing 
The Natori Company to store your name, email address and any other information you have included 
when setting up the account.<br/>
Email List – On natori.com you can sign up to receive promotional emails from us. Signing up to this <br/>
email list can include but is not limited to such information as name, email address, mailing address, <br/>
telephone numbers, gender, age, birthday and shopping preferences.<br/>
Customer Service – Natori.com provides customer service to our customers and our representatives <br/>
may ask for information such as name, email address, mailing address, telephone numbers and, if you <br/>
make a purchase, credit card information to better assist you. If credit card information is required over <br/>
the phone, The Natori Company does not store this information.<br/>
Surveys, Sweepstakes & Promotions – There are times on the website when you may be asked to <br/>
participate in a survey, sweepstake and/or promotion. If you choose to participate, certain information <br/>
such as name, email address, mailing address, telephone numbers, gender, age, birthday and <br/>
shopping preferences may be asked. This information is for the benefit of the survey, sweepstake <br/>
and/or promotion and if you have given your permission, communication may be sent about future <br/>
promotions.<br/>
Use of Personal information: Personal information collected on our website can be used for various <br/>
purposes including but not limited to:<br/>
<ul>
    <li>To send communication to customers about Natori products, services, surveys and/or promotions</li>
    <li>Website and store improvement to enhance your shopping experience</li>
    <li>To track customer traffic</li>
    <li>Requested transaction processing</li>
    <li>Prevent and detect fraud and abuse</li>
    <li>Enable service providers to perform certain activities on our behalf</li>
    <li>Comply with legal obligations</li>
</ul>

<br/>
            </p>
        </div>
    </v-container>
</template>
<script>
export default {
  name: 'Policy',
  components: {
  }
}
</script>
<style scoped>
.container { max-width: 990px!important; text-align: center; }

</style>