<template>
    <v-container>
        <h1 class="atitle">TERMS & CONDITION</h1>
        <div class="policy text-center">
            <p class="subtitle">
                This document was last updated on September 21, 2020
            </p>
            <p class="subtitle text-left">
These terms and conditions (together with the information and policies contained in the “Customer Service” pages on the website and any other documents referred in these terms and conditions) (“Terms and Conditions”) set out the legal terms that apply to your use of our website http://www.nuonchic.com, any of its sub-domains and any other websites operated by us or on our behalf and any mobile device application or desktop application developed by us or on our behalf (together, the “Websites” and “Website” being a reference to any one of them) and the other services that we provide (the “Services”).<br/>
Please read these Terms and Conditions carefully and make sure that you understand them before using the Services. Please note that by using the Services, you agree to be bound by these Terms and Conditions. If you do not accept these Terms and Conditions, you will not be able to use the Services and you should leave the Website immediately. If you continue to use the Website or if you order products, we will take this as your acceptance of these Terms and Conditions.<br/>
1) Understanding these Terms and Conditions<br/>
2) About us<br/>
IMPORTANT: If you are purchasing products from any of the brands or boutiques listed at the end of section 20 below (“Selected Partners”), then additional or different terms may apply to you in this section. Please see section 20 below.<br/>
3) Our services<br/>
4) Our liability to you in relation to the Services<br/>
5) The products<br/>
6) Nuonchic Partners<br/>
IMPORTANT: If you are purchasing products from any of the brands or boutiques listed at the end of section 20 below (“Selected Partners”), then additional or different terms may apply to you in this section. Please see section 20 below.<br/>
7) Orders, prices, payment and taxes<br/>
8) Delivery<br/>
9) International Delivery<br/>
10) Returns and Cancellation<br/>
Please see our Returns & Refunds Policy for information on returns, and our Free Returns service. For further information on cancelling your order under the CCRs, please see below.<br/>
For returns using our Free Returns service, please see our Returns & Refunds Policy.<br/>
11) Our Website<br/>
12) Privacy Policy<br/>
13) Intellectual property, software and content<br/>
14) Ethical sourcing policy<br/>
15) Kidswear policy<br/>
16) Nuonchic invitation-only Sales<br/>
17) Final Sale<br/>
18) Other important information<br/>
19) Governing Law and Jurisdiction<br/>
20) Terms applicable to purchases from Selected Partners<br/>
<br/>
<br/>
            </p>
        </div>
    </v-container>
</template>
<script>
export default {
  name: 'Terms',
  components: {
  }
}
</script>
<style scoped>
.container { max-width: 990px!important; text-align: center; }

</style>