@font-face {
    font-family: "Schnyder";
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    /* unicode-range: U+000-5FF; */
    src: url("/fonts/SchnyderXL-Demi.otf");
}

@font-face {
    font-family: "Harmonia Sans Pro";
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    /* unicode-range: U+000-5FF; */
    src: url("/fonts/HarmoniaSansPro-Regular.otf");
}