<template>
  <div id="app">
    <v-app>
      <Header/>
      <div
        class="white lighten-1 white--text text-center">
        <router-view></router-view>
      </div>
      <Footer/>
    </v-app>


  </div>
</template>

<script>
import Header from './components/Header.vue'
import Footer from './components/Footer.vue'

export default {
  name: 'App',
  components: {
    Header,
    Footer
  }
}
</script>

<style src="./assets/main.css"></style>
<style>
#app {
  /* font-family: Schnyder, serif; */
  font-family: "Harmonia Sans Pro";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: #230137;
}

.container { 
  max-width: 1240px!important;
}

h1.atitle {
  font-family: Schnyder, serif;
  color: #230137;
  padding-top: 88px;
  padding-bottom: 40px;
  font-size: 41pt;
}
p.subtitle {
  color: #000000;
  font-size: 20px;
  padding: 0 20px;
  text-align:left;
}

p.txt_guide {
  color: #000000;
  font-size: 20px;
  padding: 0 20px;
}

@media (max-width: 375px) {
    h1.atitle {
      font-size: 35px;
    }
}

</style>
